main {
    background-image: url(./img/starbucks-caffeÌ€-tazza-caffetteria-donna-ragazza-AdobeStock_300710206_Editorial_Use_Only-scaled.jpeg) ;
    
    
}

.starbucks-color {
    color: rgb(0, 112, 64) ;
}

.label {
    background-color: red;
    color: white;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 11px;
}